/* =============== Globals ============== */
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  :root {
      
      --blanco: white;
      --azul: #0061c6;
  
  }
  
  body {
    min-height: 100vh;
    overflow-x: hidden;
  
  }
  
  .container {
    position: relative;
    width: 100%;
    margin-top: 50px;
  }
  
  
  /* ================== inventario ============== */
  
  .lista {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px;
  }
  
  .lista .listaP {
    min-height: 500px;
    background: var(--blanco);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
  
  
  .tituloLista h2 {
    font-weight: 600;
    font-size: 30px;
    color: var(--azul);
    margin-bottom: 50px;
  }
  
  
  .lista table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  .lista table thead td {
    font-weight: 600;
  }
  .lista .listaP table tr {
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .lista .listaP table tr:last-child {
    border-bottom: none;
  }
  .lista .listaP table tbody tr:hover {
    background: var(--azul);
    color: var(--blanco);
  }
  .lista .listaP table tr td {
    padding: 10px;
  }
  .lista .listaP table tr td:last-child {
    text-align: end;
  }
  .lista .listaP table tr td:nth-child(2) {
    text-align: end;
  }
  .lista .listaP table tr td:nth-child(3) {
    text-align: center;
  }
  
  