
/* =============== Globals ============== */
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
      
      --blanco: white;
      --azul: #0061c6;
  
  }
  
  body {
    min-height: 100vh;
    overflow-x: hidden;
  
  }
  
  .container {
    position: relative;
    width: 100%;
  }
  
  /* =============== Barra de navegación ================ */
  .navegacion {
    position: fixed;
    width: 19em;
    height: 100%;
    background: var(--azul);
    transition: 0.5s;
    overflow: hidden;
    color: aliceblue;
    border-bottom-right-radius: 10%;
  }
  .navegacion.active {
    width: 80px;
  }
  
  .navegacion ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navegacion ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  
  .navegacion ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }
  
  .navegacion ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--blanco);
  }
  .navegacion ul li:hover a,
  .navegacion ul li.hovered a {
    color: var(--azul);
  }
  
  .navegacion ul li a .icon {
    position: relative;
    display: block;
    min-width: 30px;
    height: 30px;
    line-height: 75px;
    text-align: center;
  }
  .navegacion ul li a .icon ion-icon {
    font-size: 1.75rem;
  }
  
  .navegacion ul li a .titulo {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }
  
  /* --------- curve outside ---------- */
  .navegacion ul li:hover a::before,
  .navegacion ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--blanco);
    pointer-events: none;
  }
  .navegacion ul li:hover a::after,
  .navegacion ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--blanco);
    pointer-events: none;
  }
  
  /* ===================== Barra superior ===================== */
  .barraSuperior {
    position: absolute;
    width: calc(100% - 18.75em);
    left: 18.75em;
    min-height: 100vh;
  }
  
  
  .topbar {
    width: 100%;
    height: 3.75em;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-color: var(--azul);
  }
  
  
  .usuario {
    position:relative;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 210px;
    margin-right: 30px;
  }
  
  .usuario img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .botones{
    width: 9em;
    height: 1em;
    display: flex;
    list-style: none;
    justify-content:space-between;
    align-items: center;
  }
  
  .botones li button{
    color:aliceblue;
    width: 10em;
    height: 2em;
    position: relative;
    left: 1rem;
    margin-left: 1rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius:1em;
    font-weight: bold;
  
  }
  
  button {
    background-color: rgba(0, 110, 255, 0.822);
    transition: background-color .5s;
    font-size: 15px;
  }
  
  button:hover {
    background-color: gold;
    color: black;
  }
  
  
  
  /* ================== Lista de productos ============== */
  
   .lista {
        position: absolute;
        top: 4rem;
        left: 5rem;
        width: 90%;
        padding: 20px;
  
      } 
      
      .lista .infoProductos {
        min-height: 500px;
        background: var(--blanco);
        padding: 20px;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
      }
      
    
      .listadoHeader h2 {
        font-weight: 600;
        font-size: 35px;
        color: var(--azul);
        margin-bottom: 50px;
      }
  
    
      .lista table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
      }
    
      .lista table thead td {
        font-weight: 600;
      }
      .lista .infoProductos table tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
      .lista .infoProductos table tr:last-child {
        border-bottom: none;
      }
      .lista .infoProductos table tbody tr:hover {
        background: var(--azul);
        color: var(--blanco);
      }
      .lista .infoProductos table tr td {
        padding: 10px;
      }
      .lista .infoProductos table tr td:last-child {
        text-align: center;
      }
      .lista .infoProductos table tr td:nth-child(2) {
        text-align: center;
      }
      .lista .infoProductos table tr td:nth-child(3) {
        text-align: center;
      }
  