
:root {
  --blanco: white;
  --azul: #0061c6;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* ================== Lista de usuarios ============== */

.lista {
  position: absolute;
  top: 4rem;
  left: 5rem;
  width: 90%;
  padding: 20px;
}

.lista .usuarios {
  min-height: 500px;
  background: var(--blanco);
  padding: 60px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.tituloLista h2 {
  margin-bottom: 30px;
  font-weight: 600;
  color: var(--azul);
}

.lista table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.lista table thead td {
  font-weight: 600;
}
.lista .usuarios table tr {
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.lista .usuarios table tr:last-child {
  border-bottom: none;
}
.lista .usuarios table tbody tr:hover {
  background: var(--azul);
  color: var(--blanco);
}
.lista .usuarios table tr td {
  padding: 10px;
}
.lista .usuarios table tr td:last-child {
  text-align: end;
}
.lista .usuarios table tr td:nth-child(2) {
  text-align: end;
}
.lista .usuarios table tr td:nth-child(3) {
  text-align: center;
}
